src
test
tsconfig.json
tsconfig.module.json
tslint.json
.travis.yml
.github
.prettierignore
.vscode
build/docs
**/*.spec.*
coverage
.nyc_output
*.log
.npmrc
yarn.lock
yarn-error.log
commitlint.config.js
.circleci
.editorconfig
CHANGELOG.md
.npmrc
LICENSE
node_modules
